package calculadora;
import java.util.Scanner;
public class Calculadora {

	public static void main(String[]args) {
		
		Scanner input = new Scanner(System.in);
		//criação de variaveis de operações 
		
		//variavel de operação
		char operação;
		//valor de numeros a ser calculado
		int numeros ;
		
		//operação a ser feita
			System.out.println("Diga qual operação vai ser feita? (+ ,-,*, /) ");
		 	operação = input.next().charAt(0);
		 
		switch(operação){
			case '+':
				double soma=0;
			System.out.println("digite a quantidade de valores: ");
		
		//declação de tamanho do array(numeros que vão ser operados)
		numeros = input.nextInt();
		
		//definição de variavel para soma		 
		 double [] conta = new double[numeros];
		 
		//valores digitados pelo usuario		
		 for(int i=0 ;i<numeros;i++) {
			 System.out.println("digite os valores: "+(i+1)+": ");
				conta[i] = input.nextDouble();
					}
		 //soma de elementos do array
		 for(int i=0 ;i<conta.length;i++) {
				soma += conta[i];
			 }
				System.out.println("Resultado: "+ soma);
		      break;
		      //quebra
		      
		    
			 case '-':
				 System.out.println("digite a quantidade de valores: ");
					
				//declação de tamanho do array(numeros que vão ser operados)
				numeros = input.nextInt();
				
				//definição de variavel para 		 
				double [] contaSub = new double[numeros];
				 
				//valores digitados pelo usuario		
				for(int i=0 ;i<numeros;i++) {
					System.out.println("digite os valores: "+(i+1)+": ");
						contaSub[i] = input.nextDouble();
							}
				 //armazenar os elementos do array de subtração 
				 double sub = contaSub[0];
				 for(int i=1 ;i<numeros;i++) {
					 sub -= contaSub[i];
				 }
				 	System.out.println("Resultado: "+ sub );
		       break;
		     
		      
			  case '*':
				 	System.out.println("digite a quantidade de valores: ");
					
					//declação de tamanho do array(numeros que vão ser operados)
					numeros = input.nextInt();
					
					//definição de variavel para soma		 
					 double [] contaMult = new double[numeros];
					 
					//valores digitados pelo usuario		
					 for(int i=0 ;i<numeros;i++) {
						 System.out.println("digite os valores: "+(i+1)+": ");
							contaMult[i] = input.nextDouble();
								}
					 //armazenar os elementos do array de multiplicação 
					 double mult = contaMult[0];
					 for(int i=1 ;i<numeros;i++) {
						 mult *= contaMult[i];
					 }
					 System.out.println("Resultado: "+ mult );
		             break;
			
			 
			 case '/':
				 System.out.println("digite a quantidade de valores: ");
					
					//declação de tamanho do array(numeros que vão ser operados)
					numeros = input.nextInt();
					
					//definição de variavel para divisão		 
					 double [] contaDiv = new double[numeros];
					 
					//valores digitados pelo usuario		
					 for(int i=0 ;i<numeros;i++) {
						 System.out.println("digite os valores: "+(i+1)+": ");
							contaDiv[i] = input.nextDouble();
								}
					 //armazenar os elementos do array de divisão
					 double div = contaDiv[0];
					 for(int i=1 ;i<numeros;i++) {
						 div /= contaDiv[i];
					 }
					 System.out.println("Resultado: "+ div );
				 
		      break;
			 }		
		 
				input.close();
	}
		 
}



				
	 



				
	 


